extends ../../layouts/default.pug
include ../../mixins/product-status.pug

block main
  h1 Product Category

  .card
    .card-header Filter and Search
    .card-body
      .row
        .col-3
          +prodFilter([ { label: "All Products", value: "" }, { label: "Active", value: "active" }, { label: "Inactive", value: "inactive" } ])
        .col-9
          form(form-search)
            .input-group
              input.form-control(
                type="text",
                placeholder="Type search keyword...",
                name="keyword"
              )
              .input-group-append
                button.btn.btn-success(type="submit") Find

  .card.mt-3
    .card-header
      h1 Products
    .card-body
      .row
        .col-3.mb-3
          form(mStatus-change data-path=`/${prefixAdmin}/product/statusM-product`)
            .input-group
              select.form-control(name="status")
                option(value="active") Active
                option(value="inactive") Inactive
                option(value="delete") Delete
              .input-group-append
                button.btn.btn-success(type="submit") Apply

        .col-9.text-right
          a.btn.btn-outline-success(href=`/${prefixAdmin}/product/create`) Add product

      row 
        table.table.table-hover.table-sm
          thead
            tr
              th
              th Product ID
              th Thumbnail
              th Product name
              th Price
              th Position
              th Status
              th Action

          tbody
            each item, index in products
              tr
                td
                  input(type="checkbox" multiStatusChange=item.id)
                td #{ index+1 }
                td
                  img(
                    src=item.thumbnail,
                    alt=item.title,
                    width="100px",
                    height="auto"
                  )
                td #{ item.title }
                td #{ item.price }$
                td 
                  input(
                    position-update
                    type="number"
                    value=item.position
                    productID=item.id
                    style={width: '60px'}
                  )
                td
                  if (item.status == "active")
                    button.badge.badge-success(status-change="inactive" productId=item.id data-path=`/${prefixAdmin}/product/status-product`) Active
                  else if (item.status == "inactive")
                    button.badge.badge-danger(status-change="active" productId=item.id data-path=`/${prefixAdmin}/product/status-product`) Inactive
                td
                  a(
                    class="btn btn-info btn-sm"
                    href=`/${prefixAdmin}/product/detail/${item.id}`
                  ) Detail
                  a(
                    class="btn btn-warning btn-sm ml-1"
                    href=`/${prefixAdmin}/products/edit/${item.id}`
                  ) Edit
                  button.btn.btn-danger.btn-sm.ml-1(delete-product productID=item.id data-path=`/${prefixAdmin}/product/delete-product`) Delete

  // - Start Pagination
  nav(aria-label="Page navigation example")
  ul.pagination.mt-3
    if (currentPage > 1)
      li.page-item
        a.page-link(href="#", a-pagination=currentPage - 1) Previous
    - for (var i = 1; i <= totalPage; i++)
      li.page-item
        a.page-link(href="#", a-pagination=i) #{ i }
    if (currentPage < totalPage)
      li.page-item
        a.page-link(href="#", a-pagination=currentPage + 1) Next
